
.wrapper{
  width: 700px;
  margin: auto;
}
footer{
    color: white;
    background-color: black;
    text-align: center
}

.contactform{
  padding-left: 20px;
}

.menu{
  font-family: 'Courier New', Courier, monospace;
  color:black;
  text-decoration: none;
}
nav ul li a:hover{
  color: blue;
}


.group{
  display:flex;
  flex-direction: row;
}

.item {
  width: 100%;

}
body{
  display: block;
  background-color: lightskyblue;
}
header{
  text-decoration: none;
}

section{
  display: flex;
  flex-direction: row; 
  margin: auto;
}

.inline{
  display: inline;
  margin: auto;
}

.logo{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 72px;
  color:grey;
  text-align: center;
  margin: 0px;
}


header nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  padding-bottom: 20px;
}

header nav ol li a {
  color:white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: grey;
}


form{
  margin-right: 18px;
}
form label{
  display:block;
}
form input, form textarea{
  width:100%;
  margin-bottom: 20px;
}
form textarea{
  height:160px;
}
img{
  width:100%;
}
.twocontainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 20px;
  margin-left: 20px;
}

h1{
  display: flex;
  color: lightcoral;
  font-size: 48px;
  text-align: center;
  text-decoration: undeline;
}

h2 {
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: 0 10px;
}

h3 {
  font-size: 18px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 500;
  margin-left: 10px;
  padding-bottom: 20px;
  padding-top: 10px;
}

p{
  padding-left: 5px;
}


//destop view//
@media all and (min-width: 800px) {
  header {
    display: flex;
    justify-content: space-between;
  }
  .logo{
    margin: 14px, 0, 14px, 20px;
    font-size: 42;
  }
  header nav{
    margin-top: 14px;
  }

  .withpic{
    padding-left: 18px; //forces text under picture//
  }
}

